<html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
        form {
            border: navy 2px solid;
            width: 250px;
            padding: 25px;
            border-radius: 5%;

            margin-left: 100px;
        }

        h1 {
            font-weight: lighter;
            color: maroon;
        }
    </style>
    <title>

    </title>
</head>

<body>
    <h1>
        <%=title%>

    </h1>

    <form method="POST" action="/update">
        <input 
        value="<%= records._id %>"
        name="id" 
        class="form-control"
        id="exampleInputEmail1"
        type="hidden"
         aria-describedby="emailHelp">
        <div class="form-group">
            <label>NAME</label>
            <input 
            value="<%= records.name %>"
            type="text"
            name="name" 
            class="form-control"
            id="exampleInputEmail1"
             aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label>TYPE</label>
            <input
            value="<%=records.type%>"
            type="text"
            name="type" 
            class="form-control" 
            id="exampleInputPassword1">
        </div>

        <div class="form-group">
            <label>HOUR</label>
            <input type="number"
            value="<%=records.hours%>" 
            name="hours" 
             class="form-control" 
             id="exampleInputEmail1" 
             aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label>SALARY</label>
            <input 
            value="<%=records.salary%>"
            type="number" 
            name="salary" 
            class="form-control" 
            id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>

</html>